* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 80vw;
}
ul li {
  list-style: none;
  margin: 0px 12px;
}
nav {
  height: 80px;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
}
.topleft{
  border: 2px slod black;
  width:50%;
  margin: 0.5rem
} 
.topright{
  border: 2px slod black;
  width:50%;
  margin: 0.5rem;
}
.sec1{
  height: 30vh;
}
