:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --ubuntu: "ubuntu", sans-serif;
  --Railwaty: "raiway", sans-serif;
}

.m-auto {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}
.m-0 {
  margin: auto;
}
.p-0 {
  padding: 0;
}
.flex {
  display: flex;
}
.justify {
  display: flex;
  justify-content: center;
}
.evenly{
    display: flex;
    justify-content: space-evenly;
}
.align{
    display: flex;
  align-items: center;
}
.min-h {
  min-height: 100vh;
}
.min-w {
  min-width: 100vw;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.column {
    display: flex;
    flex-direction: column;
}.bold{
  font-weight: bold;
}
