:root {
  --blue: #5458d9;
  --white: #ffffff;
  --ubuntu: "ubuntu", sans-serif;
  --Railwaty: "raiway", sans-serif;
}

.m-auto {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}
.m-0 {
  margin: auto;
}
.p-0 {
  padding: 0;
}
.flex {
  display: flex;
}
.justify {
  display: flex;
  justify-content: center;
}
.evenly {
  display: flex;
  justify-content: space-evenly;
}
.between {
  display: flex;
  justify-content: space-between;
}
.around {
  display: flex;
  justify-content: space-around;
}
.align {
  display: flex;
  align-items: center;
}
.min-h {
  min-height: 100vh;
}
.min-w {
  min-width: 100vw;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.column {
  display: flex;
  flex-direction: column;
}
.bold {
  font-weight: bold;
}
.my10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.py10 {
  padding-left: 10px;
  padding-right: 10px;
}
.btn {
  padding: 3px 6px;
  border-radius: 12px;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}
